{% autoescape 'js' %}
	<script>

        const ldn_icon = '<i class="notched circle loading icon"></i>',
            tags_fld = `
<div class="field">
    <div class="ui tag labels editor-labels">

    </div>
</div>
`,
            btn_fld = `
<div class="field">
	<div class="ui tiny icon stackable buttons editor-buttons">
        <div class="ui button" data-button="bold" data-code="b" data-tooltip="Жирный текст" data-position="top center">
            <i class="bold icon"></i>
        </div>
        <div class="ui button" data-button="italic" data-code="i" data-tooltip="Текст курсивом" data-position="top center">
            <i class="italic icon"></i>
        </div>
        <div class="ui button" data-button="underline" data-code="u" data-tooltip="Подчёркнутый текст" data-position="top center">
            <i class="underline icon"></i>
        </div>
        <div class="ui button" data-button="strike" data-code="s" data-tooltip="Перечёркнутый текст" data-position="top center">
            <i class="strikethrough icon"></i>
        </div>
        <div class="ui button" data-button="code" data-code="code" data-tooltip="Вставить код" data-position="top center">
            <i class="code icon"></i>
        </div>
    </div>
</div>
	`,
            block_tags = [
                {
                    "code": "[rating] текст [/rating]",
                    "tag": "rating",
                    "descr": "Выводят заключенный в них текст, только если рейтинг для новости включен и убирают содержимое, если он был отключен при добавлении новости."
                },
                {
                    "code": "[rating-type-1] текст [/rating-type-1]",
                    "tag": "rating-type-1",
                    "descr": "Выводят текст, заключенный в них, если в настройках скрипта включено использование первого типа рейтинга 'Оценка'."
                },
                {
                    "code": "[rating-type-2] текст [/rating-type-2]",
                    "tag": "rating-type-2",
                    "descr": "Выводят текст, заключенный в них, если в настройках скрипта включено использование второго типа рейтинга 'Только Нравится'."
                },
                {
                    "code": "[rating-type-3] текст [/rating-type-3]",
                    "tag": "rating-type-3",
                    "descr": "Выводят текст, заключенный в них, если в настройках скрипта включено использование третьего типа рейтинга 'Нравится' или 'Не нравится'."
                },
                {
                    "code": "[rating-type-4] текст [/rating-type-4]",
                    "tag": "rating-type-4",
                    "descr": "Выводят текст, заключенный в теге, в случае если в настройках включено использование четвертого типа рейтинга 'Нравится' и 'Не нравится'."
                },
                {
                    "code": "[rating-minus] текст [/rating-minus]",
                    "tag": "rating-minus",
                    "descr": "Выводят текст, заключенных в них, в виде ссылки для уменьшения рейтинга публикации, выводится данная ссылка только если используется третий тип рейтинга."
                },
                {
                    "code": "[rating-plus] текст [/rating-plus]",
                    "tag": "rating-plus",
                    "descr": "Выводят текст, заключенных в них, в виде ссылки для увеличения рейтинга публикации, выводится данная ссылка только если используется второй и третий тип рейтинга."
                },
                {
                    "code": "[add-favorites] текст [/add-favorites]",
                    "tag": "add-favorites",
                    "descr": "Выводят текст в них в виде ссылки на добавление новость в закладки на сайте"
                },
                {
                    "code": "[del-favorites] текст [/del-favorites]",
                    "tag": "del-favorites",
                    "descr": "Выводят текст в них в виде ссылки удаление новости из закладок на сайте"
                },
                {
                    "code": "[edit] текст [/edit]",
                    "tag": "edit",
                    "descr": "Ссылка редактирование новости"
                },
                {
                    "code": "[full-link] и [/full-link]",
                    "tag": "full-link",
                    "descr": "Ссылка на полную версию, например [full-link]Подробнее…[/full-link]"
                },
                {
                    "code": "[com-link] и [/com-link]",
                    "tag": "com-link",
                    "descr": "Ссылка на комментарии к статье, выводится только если они разрешены"
                },
                {
                    "code": "[xfvalue_x]",
                    "tag": "xfvalue_x",
                    "descr": "Значение дополнительного поля 'x', где 'x' название дополнительного поля"
                },
                {
                    "code": "[xfvalue_X limit='X2']",
                    "tag": "xfvalue_X",
                    "descr": "Выводит только текст дополнительного поля без HTML форматирования, при этом сам текст сокращается до указанного X2 количества символов. При этом сокращение текста происходит до последнего логического слова. Например [xfvalue_test limit='50'] выведет только первые 50 символов значения дополнительного поля c именем test"
                },
                {
                    "code": "[xfgiven_x] [xfvalue_x] [/xfgiven_x]",
                    "tag": "xfgiven_x",
                    "descr": "Выводится дополнительное поле 'x', если поле не пустое, если поле не имеет значения, то текст просто вырезается"
                },
                {
                    "code": "[xfnotgiven_X] [/xfnotgiven_X]",
                    "tag": "xfnotgiven_X",
                    "descr": "Выводят текст указанный в них если дополнительное поле не было задано при публикации новости, где 'х' это имя дополнительного поля"
                },
                {
                    "code": "[ifxfvalue tagname='tagvalue'] Текст [/ifxfvalue]",
                    "tag": "ifxfvalue",
                    "descr": "Выводят текст заключенный в них, если значение дополнительного поля совпадает с указанным. Где tagname это имя дополнительного поля, а tagvalue это его значение. Значения tagvalue можно перечислять через запятую."
                },
                {
                    "code": "[ifxfvalue tagname!='tagvalue'] Текст [/ifxfvalue]",
                    "tag": "ifxfvalue",
                    "descr": "Выводят текст заключенный в них, если значение поля не совпадает с указанным. Где tagname это имя дополнительного поля, а tagvalue это его значение. Значения tagvalue можно перечислять через запятую."
                },
                {
                    "code": "[xfvalue_thumb_url_X]",
                    "tag": "xfvalue_thumb_url_X",
                    "descr": "Данный тег может использоваться только если дополнительное поле имеет тип 'Изображение'. Тег выводит только URL для уменьшенной копии загруженного изображения, где 'х' это имя дополнительного поля"
                },
                {
                    "code": "[xfvalue_image_url_X]",
                    "tag": "xfvalue_image_url_X",
                    "descr": "Данный тег может использоваться только если дополнительное поле имеет тип 'Изображение'. Тег выводит только URL для полноразмерной картинки загруженного изображения, где 'х' это имя дополнительного поля"
                },
                {
                    "code": "[xfvalue_image_description_X]",
                    "tag": "xfvalue_image_description_X",
                    "descr": "Данный тег может использоваться только если дополнительное поле имеет тип 'Изображение'. Тег выводит только описание для загруженного изображения, где 'х' это имя дополнительного поля."
                },
                {
                    "code": "[xfvalue_X image='Nr']",
                    "tag": "xfvalue_X",
                    "descr": "Выводит загруженные для дополнительного поля с типом 'Галерея' изображения, по отдельности. Где 'X' это имя дополнительного поля, а 'Nr' это номер изображения из галереи. Например, при использовании [xfvalue_test image='2'] будет выведено изображение номер два, загруженное в дополнительное поле с именем 'test'."
                },
                {
                    "code": "[xfvalue_X image-url='Nr']",
                    "tag": "xfvalue_X",
                    "descr": "Выводит загруженные для дополнительного поля с типом 'Галерея' URL полных изображений, по отдельности. Где 'X' это имя дополнительного поля, а 'Nr' это номер изображения из галереи."
                },
                {
                    "code": "[xfvalue_X image-thumb-url='Nr']",
                    "tag": "xfvalue_X",
                    "descr": "Выводит загруженные для дополнительного поля с типом 'Галерея' URL уменьшенных копий изображений, по отдельности. Где 'X' это имя дополнительного поля, а 'Nr' это номер изображения из галереи."
                },
                {
                    "code": "[xfvalue_X image-description='Nr']",
                    "tag": "xfvalue_X",
                    "descr": "Выводит загруженные для дополнительного поля с типом 'Галерея' описания изображений, по отдельности. Где 'X' это имя дополнительного поля, а 'Nr' это номер изображения из галереи."
                },
                {
                    "code": "[xfgiven_X image='NR'] текст [/xfgiven_X image='NR']",
                    "tag": "xfgiven_X",
                    "descr": "Выводят текст заключённый в них если изображение с указанным номером присутствует и загружено в дополнительном поле, где X это имя дополнительного поля, а NR это номер изображения"
                },
                {
                    "code": "[xfnotgiven_X image='NR'] Текст [/xfnotgiven_X image='NR']",
                    "tag": "xfnotgiven_X",
                    "descr": "Выводят текст заключённый в них если изображение с указанным номером отсутствует в дополнительном поле, где X это имя дополнительного поля, а NR это номер изображения"
                },
                {
                    "code": "[group=X]текст[/group]",
                    "tag": "group",
                    "descr": "Вывод текста определенной группе пользователей. Где X это список ID через запятую группы пользователей."
                },
                {
                    "code": "[category=X]текст[/category]",
                    "tag": "category",
                    "descr": "Предназначен для вывода текста если пользователь находится в X категории. Где X это ID вашей категории. Допустимо перечислять категории через запятую"
                },
                {
                    "code": "[has-category] текст [/has-category]",
                    "tag": "has-category",
                    "descr": "Выводят текст, заключённых в них, если публикация находится в какой-либо категории"
                },
                {
                    "code": "[not-has-category] текст [/not-has-category]",
                    "tag": "not-has-category",
                    "descr": "Выводят текст, заключённых в них, если у публикации нет никаких категорий."
                },
                {
                    "code": "[category-icon] текст [/category-icon]",
                    "tag": "category-icon",
                    "descr": "Выводят текст, заключенный в них, если для категории, где находится публикация, была задана иконка в настройках категории"
                },
                {
                    "code": "[not-category-icon] текст [/not-category-icon]",
                    "tag": "not-category-icon",
                    "descr": "Выводят текст если для категории, где находится публикация, не задана иконка"
                },
                {
                    "code": "[tags] текст [/tags]",
                    "tag": "tags",
                    "descr": "Выводит текст если новость содержит ключевые слова, назначенные для облака тегов"
                },
                {
                    "code": "[edit-date] текст [/edit-date]",
                    "tag": "edit-date",
                    "descr": "Выводит текст если новость была отредактирована"
                },
                {
                    "code": "[edit-reason] текст [/edit-reason]",
                    "tag": "edit-reason",
                    "descr": "Выводит текст если при редактировании была указана причина редактирования"
                },
                {
                    "code": "[fixed] текст [/fixed]",
                    "tag": "fixed",
                    "descr": "Выводит текст в тегах если данная новость зафиксирована"
                },
                {
                    "code": "[not-fixed] текст [/not-fixed]",
                    "tag": "not-fixed",
                    "descr": "Выводит текст в тегах если данная новость не была зафиксирована"
                },
                {
                    "code": "[day-news] текст [/day-news]",
                    "tag": "day-news",
                    "descr": "Выводит ссылку на все новости, опубликованные в тот же день что и данная новость. Данный тег например можно использовать совместно с тегом {date}"
                },
                {
                    "code": "[catlist=1,2....] текст [/catlist]",
                    "tag": "catlist",
                    "descr": "Выводит текст в теге, если новость принадлежит указанным категориям"
                },
                {
                    "code": "[not-catlist=1,2....] текст [/not-catlist]",
                    "tag": "not-catlist",
                    "descr": "Выводит текст в теге, если новость не принадлежит указанным категориям."
                },
                {
                    "code": "[poll] текст [/poll]",
                    "tag": "poll",
                    "descr": "Выводят текст в данных тегах, если для данной публикации задан опрос."
                },
                {
                    "code": "[not-poll] текст [/not-poll]",
                    "tag": "not-poll",
                    "descr": "Выводят текст в данных тегах, если для данной публикации не был задан опрос."
                },
                {
                    "code": "[profile] текст [/profile]",
                    "tag": "profile",
                    "descr": "Выводят прямую ссылку на профиль автора публикации, без использования всплывающего окна минипрофиля."
                },
                {
                    "code": "[complaint]текст[/complaint]",
                    "tag": "complaint",
                    "descr": "Выводят текст, указанных в тегах в виде ссылки на написание жалобы, на новость."
                },
                {
                    "code": "[comments]текст[/comments]",
                    "tag": "comments",
                    "descr": "Выводят текст, заключенный в них, если у данной публикации присутствуют комментарии на сайте."
                },
                {
                    "code": "[not-comments]текст[/not-comments]",
                    "tag": "not-comments",
                    "descr": "Выводят текст, заключенный в них, если у данной публикации отсутствуют комментарии на сайте."
                },
                {
                    "code": "[image-x] текст [/image-x]",
                    "tag": "image-x",
                    "descr": "Выводят текст указанный в них только в случае если картинка с номером X присутствует в новости"
                },
                {
                    "code": "[not-image-x] текст [/not-image-x]",
                    "tag": "not-image-x",
                    "descr": "Выводят текст, указанный в них только в случае если картинка с номером X отсутствует в новости."
                },
                {
                    "code": "[if field = 'значение'] текст [/if]",
                    "tag": "if",
                    "descr": "Выводят текст заключённых в них если значения поля равно указанному значению.<br><br><b>[if field = 'значение'] текст [/if]</b> - выведет текст если поле равно параметру 'значение'<br><b>[if field != 'значение']текст[/if]</b> - выведет текст если поле не равно параметру 'значение'<br><b>[if field > '1'] текст [/if]</b> - выведет текст если поле больше параметра 'значение'<br><b>[if field >= '2'] текст [/if]</b> - выведет текст если поле больше либо равно параметру 'значение'<br><b>[if field < '3'] текст [/if]</b> - выведет текст если поле меньше параметра 'значение'<br><b>[if field <= '4'] текст [/if]</b> - выведет текст если поле меньше либо равно параметру 'значение'<br><b>[if field ~ 'значение'] текст [/if]</b> - выведет текст если в поле встречается текст 'значение'<br><b>[if field !~ 'значение'] текст [/if]</b> - выведет текст если в поле НЕ встречается текст 'значение'<br><br>Комбинированное использование:<br><b>[if field > '3' AND field2 < '5'] текст [/if]</b> выведет текст если поле field больше трех, и при этом field2 меньше 5<br><b>[if field > '3' OR field2 < '5'] текст [/if]</b> выведет текст если поле field больше трех или field2 меньше 5, то есть совпадение какого либо либого из условий<br><br>Имена полей, которое может принимать field:<br><b>id</b> - Уникальный ID номер новости (число)<br><b>autor</b> - Логин автора новости (текст)<br><b>date</b> - Дата новости (дата в английском формате, например '2020-09-01' или '10 September 2020' или 'next Thursday' или '+1 day' или 'next Thursday' или в unix формате, если же используется знак равенства то дата новости округляется до минуты)<br><b>short_story</b> - Текст короткой новости (текст)<br><b>full_story</b> - В шаблоне короткой новости это количество символов в полном описании. В шаблоне полной новости непосредственно полный текст.<br><b>title</b> - Текст заголовка новости (текст)<br><b>descr</b> - Метатег описания новости (текст)<br><b>keywords</b> - Метатег 'ключевые слова' (текст)<br><b>category</b> - Список категорий в которым принадлежит (массив, проверка по массиву ID категорий, которой принадлежит новость)<br><b>alt_name</b> - Заголовок на латинице, для формирования адреса страницы при использовании ЧПУ. (текст)<br><b>comm_num</b> - Количество комментариев (число)<br><b>allow_comm</b> - Разрешены или нет комментарии (число, 1 или 0)<br><b>allow_main</b> - Опубликована или нет новость на главной (число, 1 или 0)<br><b>approve</b> - Новость опубликована на сайте или на модерации (число, 1 или 0)<br><b>fixed</b> - Новость зафиксирована или нет (число, 1 или 0)<br><b>symbol</b> - Символьный код (текст)<br><b>tags</b> - Список тегов из списка тегов для облака тегов (массив, проверка по массиву слов из облака тегов)<br><b>news_read</b> - Количество просмотров (число)<br><b>allow_rate</b> - Разрешен рейтинг для новости или нет (число, 1 или 0)<br><b>rating</b> - Рейтинг новости, общая сумма всех значений (число)<br><b>vote_num</b> - Количество проголосовавших в рейтинге (число)<br><b>votes</b> - Есть ли опрос в новости (число, 1 или 0)<br><b>view_edit</b> - Отображать или нет причину редактирования (число, 1 или 0)<br><b>disable_index</b> - Запрещена или нет индексация в поисковиках (число, 1 или 0)<br><b>editdate</b> - Дата редактирования новости (дата в английском формате, например '2020-09-01' или '10 September 2020' или 'next Thursday' или '+1 day' или 'next Thursday' или в unix формате, если же используется знак равенства то дата округляется до минуты)<br><b>editor</b> - Логин последнего редактора публикации (текст)<br><b>reason</b> - Причина редактирования новости (текст)<br><b>user_id</b> - ID автора публикации (число)<br><b>xfield_x</b> - Значение дополнительного поля публикации, где x это имя дополнительного поля. Например xfield_test значение дополнительного поля test"
                },
                {
                    "code": "[xfvalue_XXX_text]",
                    "tag": "xfvalue_XXX_text",
                    "descr": "Если доп. поле является перекрёстной ссылкой, то выводиться будет как простой текст"
                },
                {
                    "code": "[xfvalue_XXX_hashtag]",
                    "tag": "xfvalue_XXX_hashtag",
                    "descr": "Если доп. поле является перекрёстной ссылкой, то выводиться будет как хештег"
                },
                {
                    "code": "[telegram_media_xfield_XXX file=Y max=Z]",
                    "tag": "telegram_media_xfield_XXX",
                    "descr": "Добавляет значение в массив медиа для сообщения.<br>XXX - название доп. поля<br>Y - Номер медиафайла, если в перечни несколько файлов (file= не обязателен)<br>Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией file."
                },
                {
                    "code": "[telegram_media_video video=X max=Z]",
                    "tag": "telegram_media_video",
                    "descr": "Добавление видео в массив медиа.<br>X - номер видео<br>Y - Номер медиафайла, если в перечни несколько файлов (video= не обязателен)<br>Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией video."
                },
                {
                    "code": "[telegram_media_audio audio=X max=Z]",
                    "tag": "telegram_media_audio",
                    "descr": "Добавление аудио в массив медиа.<br>Y - Номер медиафайла, если в перечни несколько файлов (audio= не обязателен). Не совместим с опцией audio.<br>Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен)"
                },
                {
                    "code": "[telegram_media_image image=X max=Z]",
                    "tag": "telegram_media_image",
                    "descr": "Добавление изображений в массив медиа.<br>Y - Номер медиафайла, если в перечни несколько файлов (image= не обязателен). Не совместим с опцией image.<br>Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией image."
                },
                {
                    "code": "[telegram_media_allimages image=X max=Z]",
                    "tag": "telegram_media_allimages",
                    "descr": "Учитываются все изображения добавленные в краткую и полную новость, а так-же из доп. полей.<br>Y - Номер медиафайла, если в перечни несколько файлов (image= не обязателен)<br>Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией image."
                },
                {
                    "code": "[telegram_thumb]XXX[/telegram_thumb]",
                    "tag": "telegram_thumb",
                    "descr": "Миниатюра или же превьюшка. Вместо XXX заполняем теги, иначе будет браться первое изображение из массива изображений.<br>Максимальный размер изображения - 200 kb<br>Максимальная высота и ширина - 320 px<br>Указывать только онду ссылку на миниатюру, иначе будет браться первое изображение из массива изображений"
                },
                {
                    "code": "[telegram_title]XXX[/telegram_title]",
                    "tag": "telegram_title",
                    "descr": "Заголовок для сообщения в телеграме. Вместо XXX выши теги, иначе будет браться заголовок новости."
                },
                {
                    "code": "[button=X]Y[/button]",
                    "tag": "button",
                    "descr": "Добавление кнопки под сообщением.<br>X - ссылка<br>Y - описание ссылки"
                }
            ],
            simple_tags = [
                {
                    "code": "{title}",
                    "tag": "title",
                    "descr": "Выводится заголовок статьи"
                },
                {
                    "code": "{title limit='x'}",
                    "tag": "limit",
                    "descr": "Выводится урезанный до X количества символов, заголовок новости."
                },
                {
                    "code": "{news-id}",
                    "tag": "news-id",
                    "descr": "ID номер новости, это номер под которым данная новость храниться в базе данных"
                },
                {
                    "code": "{short-story}",
                    "tag": "short-story",
                    "descr": "Выводится краткая новость"
                },
                {
                    "code": "{short-story limit='x'} ",
                    "tag": "limit",
                    "descr": "Выводит только текст краткой новости без HTML форматирования, при этом сам текст публикации сокращается до указанного X количества символов."
                },
                {
                    "code": "{author}",
                    "tag": "author",
                    "descr": "Автор статьи"
                },
                {
                    "code": "{date}",
                    "tag": "date",
                    "descr": "Дата публикации, формат вывода даты настраивается в настройках системы"
                },
                {
                    "code": "{rating}",
                    "tag": "rating",
                    "descr": "Отображение рейтинга новости"
                },
                {
                    "code": "{likes}",
                    "tag": "likes",
                    "descr": "Выводит количество лайков"
                },
                {
                    "code": "{dislikes}",
                    "tag": "dislikes",
                    "descr": "Выводит количество дизлайков"
                },
                {
                    "code": "{vote-num}",
                    "tag": "vote-num",
                    "descr": "Выводит количество пользователей, выставивших рейтинг для данной новости"
                },
                {
                    "code": "{ratingscore}",
                    "tag": "ratingscore",
                    "descr": "Выводит число усредненного рейтинга от одного до пяти, с сохранением дробного значения. Например, в зависимости от выставленной оценки это может быть 1.6 или 4.2 и т.д."
                },
                {
                    "code": "{comments-num}",
                    "tag": "comments-num",
                    "descr": "Отображает количество комментариев , написанных к статье"
                },
                {
                    "code": "{category}",
                    "tag": "category",
                    "descr": "Категория, к которой относится статья"
                },
                {
                    "code": "{category-icon}",
                    "tag": "category-icon",
                    "descr": "ссылка на иконку категории, внимание выводится именно путь к картинке, сам вывод вы должны предусмотреть самостоятельно например <img src='{category-icon}' />"
                },
                {
                    "code": "{views}",
                    "tag": "views",
                    "descr": "Количество просмотров новости"
                },
                {
                    "code": "{favorites}",
                    "tag": "favorites",
                    "descr": "Ссылка на добавление или удаление из Избранного"
                },
                {
                    "code": "{link-category}",
                    "tag": "link-category",
                    "descr": "Ссылка на все категории в которой присутствует новость"
                },
                {
                    "code": "{tags}",
                    "tag": "tags",
                    "descr": "Выводит кликабельные ключевые слова новости"
                },
                {
                    "code": "{full-link}",
                    "tag": "full-link",
                    "descr": "Для вывода полного постоянного адреса новости"
                },
                {
                    "code": "{edit-date}",
                    "tag": "edit-date",
                    "descr": "Выводит дату редактирования новости"
                },
                {
                    "code": "{editor}",
                    "tag": "editor",
                    "descr": "Выводит логин пользователя, отредактировавшего новость"
                },
                {
                    "code": "{edit-reason}",
                    "tag": "edit-reason",
                    "descr": "Выводит причину редактирования новости"
                },
                {
                    "code": "{date=формат даты}",
                    "tag": "date",
                    "descr": "Выводит дату в заданном в теге формате. Тем самым вы можете выводить не только дату целиком но и ее отдельные части. Формат даты задается задается согласно формату принятому в PHP. Например тег {date=d} выведет день месяца публикации новости или комментария, а тег {date=F} выведет название месяца, а тег {date=d-m-Y H:i} выведет полную дату и время"
                },
                {
                    "code": "{approve}",
                    "tag": "{approve}",
                    "descr": "Выводится только при просмотре пользователем собственного профиля и показывает статус его новостей ожидающих модерации"
                },
                {
                    "code": "{login}",
                    "tag": "login",
                    "descr": "Выводит логин пользователя добавившего новость в виде обычной текстовой информации без ссылок на профиль и карточку пользователя."
                },
                {
                    "code": "{poll}",
                    "tag": "poll",
                    "descr": "Выводит опрос, добавленный к новости"
                },
                {
                    "code": "{category-url}",
                    "tag": "category-url",
                    "descr": "Выводит полный URL на категорию, которой принадлежит данная новость. Данный тег выводит только URL в чистом виде без форматирования или готовой ссылки."
                },
                {
                    "code": "{image-x}",
                    "tag": "image-x",
                    "descr": "Выводит URL картинок находящихся в краткой новости, где x это номер картинки в новости, например {image-1} выведет URL первой картинки в краткой новости"
                },
                {
                    "code": "{banner_x}",
                    "tag": "banner_x",
                    "descr": "Выводит баннер добавленный в админпанели в разделе управления рекламными материалами. Где Х это имя баннера."
                },
                {
                    "code": "{tags_no_link}",
                    "tag": "link",
                    "descr": "Вывод тегов без ссылок"
                },
                {
                    "code": "{hashtags}",
                    "tag": "hashtags",
                    "descr": "Вывод тегов в виде хештегов (тег без ссылки, но добавляется # к тегу)"
                },
                {
                    "code": "{category-hashtag}",
                    "tag": "category-hashtag",
                    "descr": "Вывод категорий в виде хештегов (название категории без ссылки, но добавляется # к названию и и пробелы заменяет на _)"
                },
                {
                    "code": "{now}",
                    "tag": "now",
                    "descr": "Вывод текущего времени в формате Ден.Месяц.Год, Час:Минута"
                }
            ],
            editors = ['#addnews_editor', '#editnews_editor', '#cron_addnews_editor', '#cron_editnews_editor']
        ;

        $(editors.join(', ')).parent().before(btn_fld).after(tags_fld);

        $(document).find('[data-button]').each((i, e) => {
            const $el = $(e),
                data = $el.data(),
                editor = $el.parent().parent().parent().find('textarea').first();

            $el.on('mousedown', function () {
                let txtarea = document.getElementById($(editor).attr('id')),
                    start = txtarea.selectionStart,
                    finish = txtarea.selectionEnd,
                    sel = txtarea.value.substring(start, finish),
                    txt = $(editor).val()
                ;

                if (sel.length > 0) {
                    $(editor).val(txt.replace(sel, "[" + data.code + "]" + sel + "[/" + data.code + "]"));
                } else {
                    $(editor).val(txt + "[" + data.code + "]" + "[/" + data.code + "]");
                }
            })
        });

        let key_control = '', current_editor = '';

        $(editors.join(', ')).on('keydown', function (e) {
            const key = e.key, e_id = $(this).attr('id');

            if (current_editor !== e_id) {
                current_editor = e_id;
                key_control = '';
                $(document).find('.editor-labels').each((i, e) => {
                    $(e).html();
                })
            }

            if (key === 'Backspace' && key_control.length > 0) {
                key_control = key_control.substring(0,(key_control.length-1));
            }

            if ((key === '[' || key === '{') || (key_control[0] === '[' || key_control[0] === '{')) {
                let src = simple_tags;
                if (key === '[' || key_control[0] === '[') src = block_tags;
                const regex = /[a-zA-Z\-_\[{]/gm;

                if (regex.exec(key) !== null && ['Backspace', 'Backspace', 'Alt', 'Shift', 'Enter', 'CapsLock', 'Tab', 'Dead', '°', 'Insert', 'Home', 'PageUp', 'PageDown', 'End', 'Delete', 'NumLock', 'ScrollLock', 'Pause', 'AltGraph', 'ContextMenu', 'Meta', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'Escape'].some(k => k === key) === false) {

                    if ((key === '[' && key_control[0] === '{') || (key === '{' && key_control[0] === '[')) key_control = '';

                    key_control += key;

                    if (key_control.length > 1) {
                        let labels = $(this).parent().parent().find('.editor-labels').first(),
                            key_lkpup = key_control.substring(1);

                        $(labels).html(ldn_icon);

                        let picks = src.map(o => o.tag.includes(key_lkpup)),
                            lab_av = [];

                        for (let i = 0, max = src.length; i < max; i++) {
                            let pick = picks[i],
                                lbl = src[i];
                            if (pick) lab_av.push(`<a class="ui primary basic tag label lkp_lbl" data-tag="${lbl.tag}" data-meta-title="${lbl.code}" data-meta-html="${lbl.descr}">${lbl.tag}</a>`);
                        }

                        setTimeout(() => {
                            labels.html(lab_av.join(''));

                            $('.lkp_lbl').each((i, e) => {
                                let $tag = $(e), data = $tag.data(), html = `
                                <div class="header">${data.metaTitle}</div>
								<div class="content">${data.metaHtml.substring(0, 800)}${data.metaHtml.length >= 800 ? '...' : ''}</div>
                                `;

								$tag.popup({
									on: 'hover',
									title: data.metaTitle,
                                    html: html,
                                    delay: {
                                        show: 300,
                                        hide: 300
                                    }
								})
                            })
                        }, 2000);

                    }
                }
            }
        })

        $(document).on('click', '.lkp_lbl', function () {
	       let $tag = $(this), data = $tag.data(), $editor = $tag.parent().parent().parent().find('textarea').first(), txt = $editor.val();
           let cursor = $editor.prop("selectionStart"), total_signs = txt.length, text_bfr = txt.substring(0, (cursor-key_control.length)), txt_ftr = txt.substring(cursor, total_signs), end_txt = text_bfr + data.metaTitle + txt_ftr;
           $editor.val(end_txt);
           key_control = '';
           $tag.parent().html('');
        });

        if (!String.prototype.includes) {
            String.prototype.includes = function (search, start) {
                'use strict';

                if (search instanceof RegExp) {
                    throw TypeError('first argument must not be a RegExp');
                }
                if (start === undefined) {
                    start = 0;
                }
                return this.indexOf(search, start) !== -1;
            };
        }


	</script>
{% endautoescape %}