{% extends 'base.html' %}
{% from "_macros/input.twig" import input %}
{% from "_macros/textarea.twig" import editor, text %}
{% from "_macros/pagination.twig" import pagination %}
{% from "_macros/search.twig" import search %}

{% block content %}

<form class="ui form attached segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{{title|trans}} ({{all_count}} {{decline(all_count, ["Новость", "Новости", "Новостей"])}})</h4>

		<div class="ui four column grid">
			{% autoescape 'html' %}
			<table class="ui very basic stackable selectable celled striped table">
				<thead>
				<tr>
					<th class="collapsing">
						<div class="ui checkbox">
							<input type="checkbox" id="crons" tabindex="0" class="hidden">
						</div>
					</th>
					<th class="collapsing">ID</th>
					<th class="">{%trans%}Название новости{%endtrans%}</th>
					<th class="">{%trans%}Тип{%endtrans%}</th>
					<th class="">{%trans%}Дата добавления{%endtrans%}</th>
					<th class="right aligned collapsing">{%trans%}Действие{%endtrans%}</th>
				</tr>
				</thead>
				<tbody data-id="cron_data">
				{% for c in cron_data %}
				<tr id="c-{{c.cron_id}}" data-id="{{c.cron_id}}" data-news_id="{{c.news_id}}">
					<td>
						<div class="ui checkbox">
							<input type="checkbox" name="cron[]" value="{{c.cron_id}}" tabindex="0" class="hidden">
						</div>
					</td>
					<td>{{c.cron_id}}</td>
					<td data-name="title">#{{c.news_id}}: {{c.title}}</td>
					<td data-name="type">{{c.type}}</td>
					<td data-name="time">{{c.time}}</td>
					<td class="right aligned">
						<div class="ui icon top left pointing dropdown button">
							<i class="wrench icon"></i>
							<div class="menu">
								<a class='ui item' href="{{dle_config.http_home_url}}{{dle_config.admin_path}}?mod=editnews&action=editnews&id={{c.news_id}}" target="_blank">
									<i class="fa-duotone fa-pen-to-square"></i> {%trans%}Редактировать новость{%endtrans%}
								</a>
								<a class='ui item' href="{{dle_config.http_home_url}}index.php?newsid={{c.news_id}}" target="_blank">
									<i class="fa-duotone fa-eye"></i> {%trans%}Открыть на сайте{%endtrans%}
								</a>
								<a data-action='change' class='ui item act_btn' data-id='{{c.cron_id}}'>
									<i class="fa-duotone fa-timer"></i> {%trans%}Изменить дату{%endtrans%}
								</a>
								<a data-action='send' class='ui item act_btn' data-id='{{c.cron_id}}'>
									<i class="fa-duotone fa-paper-plane"></i> {%trans%}Отправить в телеграм{%endtrans%}
								</a>
								<a data-action='delete' class='ui item act_btn' data-id='{{c.cron_id}}'>
									<i class="fa-duotone fa-trash-can"></i> {%trans%}Удалить{%endtrans%}
								</a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
				</tbody>
				<tfoot>
				<tr>
					<th colspan="6">
						<a href="#" role="button" class="ui button act_btn" data-action='new'>
							{%trans%}Добавить новость в список{%endtrans%}
						</a>
					</th>
				</tr>
				</tfoot>
			</table>


			{% endautoescape %}
		</div>


	</div>
</form>

{{ pagination(total_pages, page) }}

{% endblock %}

{% block scripts %}

	{{ include('modules/telegram/scripts/cron.twig') }}

{% endblock %}