{% extends 'base.html' %}
{% from "_macros/checkbox.twig" import checkbox %}
{% from "_macros/select.twig" import select %}
{% from "_macros/input.twig" import input, number %}
{% from "_macros/textarea.twig" import editor, text %}

{% block content %}

<div class="ui segment">
	{{ include('templateIncludes/boxes.html', {
		boxes: {
			main: {
				link: '#',
				name: 'Основные настройки',
				icon: 'home icon'
			},
			proxy: {
				link: '#',
				name: 'Настройки прокси',
				icon: 'fa-duotone fa-network-wired'
			},
			cron: {
				link: '#',
				name: 'Настройки крона',
				icon: 'clock outline icon'
			},
			telegram: {
				link: '#',
				name: 'Настройка бота',
				icon: 'universal access icon'
			},
			templates: {
				link: '#',
				name: 'Шаблоны',
				icon: 'pencil alternate icon'
			},
		}
	})
	}}
</div>

<form class="ui form segment">
	<div class="ui bottom attached tab active" data-tab="main">
		<h4 class="ui dividing header">{{ title }}</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ checkbox('onof', 'Включить модуль?', 'Включает/Выключает модуль', settings) }}
			{{ input('field', 'Укажите зависимость', 'Выберите поля зависимости, а так-же укажите значения, по которым будет вестись проверка данных перед отправкой в телеграм.<br><br>
			При выборе "Прочее" указываем из какой таблицы (post, post_extras), из какого поля и какое значение должно быть в следующей формате - таблица:поле|значение. Пример: post:allow_main|1.<br><br>
			Если поле не связано с новостями, то значение игнорируется.<br><br>
			Зависимости типа "Категория" отмечаются любым значением, желательно единицей (1).',
			settings) }}
			{{ select('field_relation', 'Отношение зависимостей', 'Выбираем отношение между зависимостями, по которым будет вестись фильтрация.<br><b>И</b>: Пока все зависимости не будут соответствовать заданным параметрам, отправки в телеграм не будет<br><b>ИЛИ</b>: Пока одна из зависимостей не будет соответствовать заданным параметрам, то отправки в телеграм не будет.', settings, {'or':'Или', 'and':'И'}) }}
			{{ input('thumb_placeholder', 'Миниатюра', 'Эта заглушка будет использоваться, чтобы заполнить создать превью для сообщения', settings) }}
			{{ select('message_type', 'Вывод сообщений', 'Выбираем вывод сообщений в телеграм.<br>
			<b>Текстовой вывод</b> - Обыкновенный вывод сообщений.<br>
			<b>Галерейный вывод</b> - Вывод сообщений с поддержкой медиавставок (до десяти штук)<br>
			<b>Сообщение с постером</b> - Вывод сообщения с основным постером, в качестве постера берётся первое указанное изображение, другие игнорируются<br>
			<b>Сообщение с аудио</b> - Вывод сообщения с аудио, как основа, в качестве аудио берётся первое указанное аудио, другие игнорируются<br>
			<b>Сообщение с видео</b> - Вывод сообщения с видео, как основа, в качестве видео берётся первое указанное видео, другие игнорируются', settings, {'text':'Текстовой', 'media':'Галерейный', 'photo':'С постером', 'audio':'С аудио', 'video':'С видео'}) }}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="proxy">
		<h4 class="ui dividing header">Настройка прокси</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ checkbox('proxy', 'Включить прокси?', 'Включает и выключает прокси', settings) }}
			{{ select('proxytype', 'Тип прокси', 'Позволяет выбрать тип прокси для подключения. SOCKS5 прокси работают ТОЛЬКО с cUrl', settings, {'http':'http(s)', 'socks':'socks5'}) }}
			{{ input('proxyip', 'Укажите IP-Адрес', 'Укажите IP-адрес прокси сервера', settings) }}
			{{ input('proxyport', 'Укажите IP-порт', 'Укажите IP-порт прокси сервера', settings) }}
			{{ checkbox('proxyauth', 'Нужна ли авторизация?', 'Если для проски нужны данные авторизации - включаем', settings) }}
			{{ input('proxyuser', 'Укажите пользователя', 'Укажите пользователя прокси сервера', settings) }}
			{{ input('proxypass', 'Укажите пароль', 'Укажите пароль прокси сервера', settings) }}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="cron">
		<h4 class="ui dividing header">Настройка крона</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ checkbox('cron', 'Включить отправку по крону?', 'Если выключено, то сообщение отправляется сразу в чат.', settings) }}
			{{ number('cron_news', 'Сколько новостей за раз добавлять?', "Данная функция позволит за раз отправить несколько новостей в чат. Если 0, то будет добавлять все новости.", settings) }}
			{{ number('cron_time', 'Крон по времени?', "Данная функция позволит за раз отправить несколько новостей в чат после определённого времени. Сравнение будет идти по дате добавления новости. Добавляем значение в <b>минутах</b>.<br>Т.е., если время новости+эти минуты уже прошло, то новость отправится в телеграм.", settings) }}
			{{ number('cron_waittime', 'Задержка между отправкой', "Данное значение установит в какой задержке проверять новости. Добавляем значение в <b>секундах</b>.<br><i><b>По умолчанию</b>: 5 секунд</i>", settings) }}
			{{ checkbox('cron_autodelete', 'Удалять неправильные новости?', 'Если в список для отложенных отправлений добавились новости, которые не подходят по параметрам для отправки в телеграм, то скрип при выполнении отправки в телеграм по крону их автоматически удалит.<br>Рекомендуется включить, иначе скрипт будет проходить все новости, пока не дойдёт до нужной новости.', settings) }}

			{{ include('templateIncludes/segRow.html', {
			id: 'cron_descr',
			name: 'Настройка крона',
			descr: "Если вы не сильны в crontab и не знаете как правильно настроить всё - данная функция для вас",
			html: 'Если у вас нет доступа к крону или SSH, то выполняем этот скрипт: <a href="' ~ dle_config.http_home_url ~ 'cron.php?cronmode=telegram" target="_blank">cron.php?cronmode=telegram</a><br>Если же вы всётаки его имеете, то выполните этот запрос <kbd>crontab -e</kbd> и в самый низ вставьте следующую строчку:<br><kbd>* * * * * /usr/bin/php -f ' ~document_root~ '/cron.php telegram</kbd><br>Простой генератор для крона можно увидеть тут: <a href="https://www.crontabgenerator.com" target="_blank">http://www.crontabgenerator.com</a><br>Замените <kbd>/usr/bin/php</kbd> на путь вашего интерпретатора. Если не знаете где он лежит, то узнаете это с помощью <kbd>which php</kbd>'
			})
			}}


			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="telegram">
		<h4 class="ui dividing header">Настройки бота</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ input('token', 'Укажите токен вашего бота', 'Не давайте доступа к настройкам никому. Как узнать токен бота - можно узнать <a href="https://readme.devcraft.club/latest/dev/telegramposting/bot/#_2" target="_blank">тут</a>.', settings) }}
			{{ input('chat', 'Укажите ID канала', 'Не давайте доступа к настройкам никому. Как узнать ID чата - можно узнать <a href="https://readme.devcraft.club/latest/dev/telegramposting/bot/#id/" target="_blank">тут</a>, либо узнать через скрипт <div role="button" class="ui button get_chat_id">тут</div>.', settings) }}

			{{ include('templateIncludes/segRow.html', {
				id: 'send_message',
				name: 'Отправить сообщение в группу/канал',
				descr: "Для проверки функционала или для оповещения, которое никак не связанно с новостью",
				html: '<div class="ui button send_tg_msg">Отправить сообщение</div>'
				})
			}}

			{% endautoescape %}
		</div>
	</div>
	<div class="ui bottom attached tab" data-tab="templates">
		<h4 class="ui dividing header">Шаблоны</h4>
		<div class="ui four column grid">
			{% autoescape 'html' %}

			{{ include('templateIncludes/segRow.html', {
			id: 'template_descr',
			name: 'Поддерживаемые теги',
			descr: "Следующие BB- & HTML-теги поддерживаются",
			html: '<b>&lt;b&gt;, &lt;strong&gt;, [b]</b> - жирный текст<br>
			<b>&lt;i&gt;, &lt;em&gt;, [i]</b> - курсивный текст<br>
			<b>&lt;u&gt;, [u]</b> - подчёркнутый текст<br>
			<b>&lt;s&gt;, [s]</b> - перечёркнутый текст<br>
			<b>&lt;a&gt;</b> - Ссылка<br>
			<b>&lt;code&gt;, [code]</b> - фиксированный код
			<br><b>&lt;pre&gt;</b> - отформатировынй код
			<br><b>[url=Ссылка]Название Ссылки[/url]</b> - Форматирование ссылки с её названием
			<br><b>[url]Ссылка[/url]</b> - Форматирование ссылки<br><br>

			<b>Следующие теги будут заменены на данные:</b><ul>
			<li><b>Стандартные теги полной новости</b> - Ссылка на документацию DLE: <a href="https://dle-news.ru/extras/online/all16.html" target="_blank">/extras/online/all16</a>. За исплючением ссылок на печатные и постраничные страницы. Все функциональные ссылки, типа поднятия рейтинга, были удалены.</li>
			<li><b>Дополнительная поддержка</b> - Модуль Xf Select: <a href="https://devcraft.club/threads/xf-select-vyvod-pravilnogo-znachenija.82/" target="_blank">на сайт плагина</a>.</li>
			<li><b>Следуищие теги теряют свою силу и будут заменены на пустышки:</b> [edit], [/edit], {favorites}, [add-favorites], [/add-favorites], [del-favorites], [/del-favorites], [complaint], [/complaint], {poll}, баннеры, {comments}, {addcomments}, {navigation}, [hide], {pages}, {PAGEBREAK}, [comments-subscribe]</li>
			<li><b>Следующие теги были изменены для модуля:</b> [xfvalue_thumb_url_XXX], [xfvalue_image_url_XXX] - Содержимое ссылок на увелечение было заменено на описание изображения</li>
			<li><b>{category-hashtag}</b> - Вывод категорий в виде хештегов (название категории без ссылки, но добавляется # к названию и и пробелы заменяет на _) </li>
			<li><b>{tags_no_link}</b> - Вывод тегов без ссылок</li>
			<li><b>{hashtags}</b> - Вывод тегов в виде хештегов (тег без ссылки, но добавляется # к тегу)</li>
			<li><b>{now}</b> - Вывод текущего времени в формате Ден.Месяц.Год, Час:Минута</li>
			<li><b>{now=FORMAT}</b> - Вывод текущего времени с использованием пользовательского форматирования. Используем шаблонизатор PHP Date</li>
			<li><b>[xfvalue_XXX_text]</b> - Если доп. поле является перекрёстной ссылкой, то выводиться будет как простой текст</li>
			<li><b>[xfvalue_XXX_hashtag]</b> - Если доп. поле является перекрёстной ссылкой, то выводиться будет как хештег</li>
			<li><b>[telegram_media_xfield_XXX file=Y max=Z]</b> - Добавляет значение в массив медиа для сообщения.<br>
				XXX - название доп. поля<br>Y - Номер медиафайла, если в перечни несколько файлов (file= не обязателен)<br>
				Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией file.</li>
			<li><b>[telegram_media_video video=X max=Z]</b> - Добавление видео в массив медиа.<br>
				X - номер видео<br>
				Y - Номер медиафайла, если в перечни несколько файлов (video= не обязателен)<br>
				Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией video.</li>
			<li><b>[telegram_media_audio audio=X max=Z]</b> - Добавление аудио в массив медиа.<br>
				Y - Номер медиафайла, если в перечни несколько файлов (audio= не обязателен). Не совместим с опцией audio.<br>
				Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен)</li>
			<li><b>[telegram_media_image image=X max=Z]</b> - Добавление изображений в массив медиа.<br>
				Y - Номер медиафайла, если в перечни несколько файлов (image= не обязателен). Не совместим с опцией image.<br>
				Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией image.</li>
			<li><b>[telegram_media_allimages image=X max=Z]</b> - Учитываются все изображения добавленные в краткую и полную новость, а так-же из доп. полей.<br>
				Y - Номер медиафайла, если в перечни несколько файлов (image= не обязателен)<br>
				Z - максимальное кол-во добавляемых файлов, если в перечни несколько файлов, иначе добавятся все (max= не обязателен). Не совместим с опцией image.</li>
			<li><b>[telegram_thumb]XXX[/telegram_thumb]</b> - Миниатюра или же превьюшка. Вместо XXX заполняем теги, иначе будет браться первое изображение из массива изображений.<br>
				Максимальный размер изображения - 200 kb<br>
				Максимальная высота и ширина - 320 px<br>
				Указывать только онду ссылку на миниатюру, иначе будет браться первое изображение из массива изображений</li>
			<li><b>[telegram_title]XXX[/telegram_title]</b> - Заголовок для сообщения в телеграме. Вместо XXX выши теги, иначе будет браться заголовок новости. Работает только при отправлении аудио и видео</li>
			<li><b>[button=X]Y[/button]</b> - Добавление кнопки под сообщением.<br>
				X - ссылка<br>
				Y - описание ссылки</li>
		</ul><br><br>
			Теги <b>[telegram_media_</b> будут обработаны в том случае, если выбран медийный шаблон. Иначе - станут пустышкой. Если загруженный файл не будет являться разрешённым форматом, то он будет загружен как документ. Максимальное кол-во медиа файлов: 10.'
			})
			}}
			{{ text('addnews', 'Шаблон сообщения при добавлении новости', '<b>Разрешены BB-Code и HTML-Code</b><br>
			<div class="ui basic vertical labeled icon buttons">
				<div class="ui button" data-editor-action="copy_data" data-copy="editnews" data-output="addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при редактировании новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_addnews" data-output="addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости по крону
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_editnews" data-output="addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения редактировании новости по крону
				</div>
			</div>', settings) }}
			{{ text('editnews', 'Шаблон сообщения при редактировании новости', '<b>Разрешены BB-Code и HTML-Code</b><br>
			<div class="ui basic vertical labeled icon buttons">
				<div class="ui button" data-editor-action="copy_data" data-copy="addnews" data-output="editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_addnews" data-output="editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости по крону
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_editnews" data-output="editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения редактировании новости по крону
				</div>
			</div>
', settings) }}
			{{ text('cron_addnews', 'Шаблон сообщения при добавлении новости по крону', '<b>Разрешены BB-Code и HTML-Code</b><br>
			<div class="ui basic vertical labeled icon buttons">
				<div class="ui button" data-editor-action="copy_data" data-copy="addnews" data-output="cron_addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="editnews" data-output="cron_addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при редактировании новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_editnews" data-output="cron_addnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения редактировании новости по крону
				</div>
			</div>', settings) }}
			{{ text('cron_editnews', 'Шаблон сообщения при редактировании новости по крону', '<b>Разрешены BB-Code и HTML-Code</b><br>
			<div class="ui basic vertical labeled icon buttons">
				<div class="ui button" data-editor-action="copy_data" data-copy="addnews" data-output="cron_editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="editnews" data-output="cron_editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при редактировании новости
				</div>
				<div class="ui button" data-editor-action="copy_data" data-copy="cron_addnews" data-output="cron_editnews">
					<i class="copy outline icon"></i>
					Копировать из шаблона сообщения при добавлении новости по крону
				</div>
			</div>', settings) }}

			{% endautoescape %}
		</div>
	</div>
</form>
<div class="ui segment">
	<div class="ui button save" tabindex="0">Сохранить</div>
</div>
{% endblock %}


{% block scripts %}
	{{ include('modules/telegram/scripts/settings.twig')}}
	{{ include('modules/telegram/scripts/editor.twig')}}
{% endblock %}
